<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <style>
         nav {
            display: flex;
            border-bottom: 1px black solid;
            background-color: rgb(117, 0, 0);
            
        }
        .nav-bar {
            flex-grow: 1;
            width: 100px;
            text-align: center;
            height: 30px;
            margin-top: 8px;
        }
        a {
            font-size: 20px;
            text-decoration: none;
            color: whitesmoke;
            font-weight: bolder;
        }

    </style>
</head>
<body>
    <nav>
        <div class="nav-bar">
            <a href="/">Home</a>
        </div>
        <div class="nav-bar">
            <a href="/socials">Socials</a>
        </div>
        <div class="nav-bar">
            <a href="/comments">Ratings/Comments</a>
        </div>
    </nav>
    <main>
        <div style="text-align: center; margin-top: 50px;">
            <h3>Status 404: OOPS, page not found</h3>
        </div>
    </main>
    <footer>
    </footer>
    
</body>
</html>