<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socials</title>
    <link rel="stylesheet" href="/style.css">
    <style>
        .social-name {
            /* outline: 1px red solid; */
            text-align: center;
        }
        label, input, .form {
            display: block;
            text-align: center;
            margin:  10px auto 10px auto;
        }

    </style>
</head>
<body>
    <nav>
        <div class="nav-bar">
            <a href="/">Home</a>
        </div>
        <div class="nav-bar">
            <a href="/socials">Socials</a>
        </div>
        <div class="nav-bar">
            <a href="/comments">Ratings/Comments</a>
        </div>
    </nav>
    <main>
        <div style="text-align: center; margin-top: 50px; text-decoration: underline; font-size: 20px;">
            <h1>Add a Latin Social</h1>
        </div>
        <form action="/socials/addSocials" method="POST">
                <label for="name" >Social Name:</label>
                <input type="text" name="name" required>
                <label for="">Main Style of Dance</label>
                <select name="dance" id="dance" class="form" style="margin: 20px auto 20px auto;">
                    <option value="Salsa">Salsa</option>
                    <option value="Bachata">Bachata</option>
                    <option value="Chacha">Chacha</option>
                    <option value="Bachata Sensual">Bachata Sensual</option>
                    <option value="Merengue">Merengue</option>
                </select>
                <label for="address">Address:</label>
                <input type="address" name="address" id="" style="width: 350px;" required>
                <button class="form" style="width: 100px; margin-top: 30px; margin-bottom: 50px;">Submit</button>
            </form>
    </main>
    <footer>
    </footer>
    
</body>
</html>