<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socials</title>
    <link rel="stylesheet" href="style.css">
    <style>
        .social-name {
            /* outline: 1px red solid; */
            text-align: center;
        }
        label, input, .form {
            display: block;
            text-align: center;
            margin:  10px auto 10px auto;
        }

    </style>
</head>
<body>
    <nav>
        <div class="nav-bar">
            <a href="/">Home</a>
        </div>
        <div class="nav-bar">
            <a href="/socials">Socials</a>
        </div>
        <div class="nav-bar">
            <a href="/comments">Ratings/Comments</a>
        </div>
    </nav>
    <main>
        <div style="text-align: center; margin-top: 50px; text-decoration: underline; font-size: 20px;">
            <h1>Latin Socials</h1>
        </div>
            <button style="display: block; width: 150px;
            margin: 0 auto 0 auto; text-align: center; font-weight: lighter; ">
                <a href="/socials/addSocials" style="color: black; font-size: 15px;">Add a Social</a>
            </button>
               
            <% if (socials.length > 0) { %>
                <% socials.forEach(socials => { %>
                    <br>
                    <h2 class="social-name" style="text-decoration: underline; color: rgb(117, 0, 0)"><%= socials.name %></h2>
                    <h4 class="social-name">Main Style of Dance: <%= socials.dance %></h4>
                    <h4 class="social-name">Address: <%= socials.address %></h4>
                    <br>

            <% }) %>
            <% } else { %>
                <p>No Socials to Display</p>
            <% } %>
    </main>
    <footer>
    </footer>
    
</body>
</html>