nav {
    display: flex;
    border-bottom: 1px black solid;
    background-color: rgb(117, 0, 0);
}

.nav-bar {
    flex-grow: 1;
    width: 100px;
    text-align: center;
    height: 30px;
    margin-top: 8px;
}
        
a {
    font-size: 20px;
    text-decoration: none;
    color: whitesmoke;
    font-weight: bolder;
}